.mainContainer {
    padding: 0 2rem;
    width: 80%;
    position: relative; 
    float: right;
    margin: auto;
}


.content{
    width: 80%;
    height: 100%;
    position: relative;
    margin: auto;
}