.navigation {
  background-color: #0A192F;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: 'Source Code Pro', monospace;
  align-items: center;
}

.navLinks {
  display: flex;
}

.locator {
  color: #60F7D3;
  margin-right: 5px;
}

.logo {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
}

.logoTran {
  display: flex;
  position: relative;
  left: 2rem;
  top: 1.5rem;
}

.name {
  color: #60F7D3;
  font-size: 1.5rem;
  margin-top: 6px;
  transition: .5s linear .1s;
  opacity: 0;
  margin-left: -3px;
}

.logoTran:hover .name {
  display: flex;
  transition: .5s linear .1s;
  opacity: 1;

}

.navigation ul li{
  padding:10px;
  font-size:14px; 
  font-family: 'Source Code Pro', monospace;
  list-style-type: none;
  align-items: center;
  display: flex;
  margin-right: 2rem;
}

.navigation li button {
  background-color: #0A192F;
  border: 1px solid #60F7D3;
  color: #60F7D3;
  border-radius: 5px;
  height: 45px;
  width: 95px;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

.socialLinks {
  position: fixed;
  bottom: 0;
  height: 350px;
  left: 4rem;
  width: 35px;
  z-index: 1000;
  color: white
}

.socialUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30px;

}

.socialUl li { 
  margin-top: 1.5rem;
}



.socialUl li img {
  height: 35px;
  width: 35px;
}

/* SECTION 1 */
.section1 {
  height: 100%;
  width: 100%;
  background-color: #0A192F;
  min-height: 600px;
  max-height: 1500px;
  position: relative;
  display: flex;
  align-items: center;
}

.introContent {
  width: 1000px;
  height: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hi {
  color: #60F7D3;
  font-size: 16px;
}

.introHeader {
  font-size: 80px;
  margin: 0;
  color: #CCD6F6;
}

.secondaryHeader {
  font-size: 50px;
  margin: 0;
  color: #8892B0;
}

.description {
  width: 400px;
  color: #8892B0;
}

.btn {
  background-color: #0A192F;
  border: 1px solid #60F7D3;
  color: #60F7D3;
  border-radius: 5px;
  height: 45px;
  width: 205px;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  margin-top: 25px;
}

/* SECTION 2 */
.section2 {
  position: relative;
  background-color: #0A192F;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 1400px;
  max-height: 1800px;
}

.content2 {
  width: 1000px;
  height: 900px;
  margin: auto;
}

.sec1 {
  color: #60F7D3;
}

.about {
  color: #CCD6F6  ;

}

.txtBox {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin-right: 10px;
}

.descript {
  width: 600px;
  color: #8892B0;
}

.coTitle {
  color: #CCD6F6;
}

.coDates {
  color: #8892B0;
}

.txtBox p {
  margin: 5px;
  font-size: 1.5rem;
  color: #CCD6F6;

}

.txtHeads {
  display: flex;
  flex-direction: row;
}

.txtBox li {
  width: 50%;
  float: left;
  color: #8892B0;

}

.txtBox  ul li::marker {
  color: #60F7D3;
}

.info2 {
  display: flex;
  flex-direction: row;
}

.aboutImg {
  height: 300px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3rem;
  background-image: linear-gradient(to bottom, #60f7d481, #60f7d496),  url('/images/meBlack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 15px 15px #8892B0;

}

.aboutImg p {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.aboutImg:hover {
  opacity: 1;
  transition: 1s ease linear;
}

@media (max-width: 990px) {
  .info2 {
    flex-direction: column;
  }

  .aboutImg {
    margin: auto;
  }

  .txtBox {
    margin: auto;
  }

  .txtBox p {
    text-align: center;
  }

}

/* SECTION 3 */
.section3 {
  position: relative;
  background-color: #0A192F;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 900px;
  max-height: 1800px;
}

.content3 {
  width: 1000px;
  height: 900px;
  margin: auto;
}

.workDrawer {
  width: 750px;
  height: 600px;
  margin: auto;
}
.coList {
  width: 150px;
  height: 600px;
  float: left;
  color: #60F7D3;
}

.expList {
  width: 500px;
  height: 600px;
  float: right;
}

.coList ul {
  border-left: 5px solid #14315c;
}

.coTitle a {
  color: #60F7D3;
}

.coExp li{
  color: #8892B0;
}



.coList ul li  {
  margin-top: 2rem;
  list-style-type: none;
}

.coList ul:hover {
  border-left: 5px solid #60F7D3;
  filter: blur(5%);
}

.coList ul li:hover {
  background-color: #14315c;
  color: white;
}

.txtHeads2 {
  display: flex;
  flex-direction: row;
  left: 5rem;
  position: relative;
}

/* SECTION 4 */
.section4 {
  position: relative;
  background-color: #0A192F;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 1800px;
  max-height: 1800px;
  justify-content: space-between;

}

.content4 {
  width: 1000px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
}

.cardsSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5rem; 
  width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.hoverMe {
  color: inherit;
  text-decoration: none;
}

.hoverMe {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.hoverMe:hover {
  background-size: 0 3px, 100% 3px;
}

.card {
  margin: 100px auto 0;
  width: 400px;
  height: 600px;
  perspective: 1000px;
  backface-visibility: hidden;
  z-index: 1000;
}

.card__inner {
  transition: transform .5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  transition: .5s linear .1s;
  width: inherit;
  height: inherit;
  z-index: 1000;

}

.card:hover .card__inner{
  transform: rotateY(180deg);
  transition-duration: 1.5s;
  transform-style:preserve-3d;

}


.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face_front {
  background: linear-gradient(160deg, #60F7D3 20%, #60F7D3 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__inner {
	transition-duration: 2s;
}
.card__face_front {
	position: absolute;
}
.card__inner {
	transform-style: preserve-3d;
}
.back {
	/*   opacity:0.5 */
}
.card__face_front {
	width: 100%;
}

.card__face_front h2 {
  color: #FFF;
  font-size: 32px;
}

.card__face_back {
  background-color: var(--light);
  transform: rotateY(180deg);
  z-index: 1000;
 
}

.card__content {
  width: 100%;
  height: 100%;
}

.card__header {
  position: relative;
  padding: 30px 30px 40px;
}

.card__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(160deg, #60F7D3 20%, #60F7D3 80%); 
  z-index: -1;
  border-radius: 0px 0px 50% 0px;
}

.pp {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: #FFF;
  border: 5px solid #FFF;
  object-fit: cover;
}

.card__header h2 {
  color: #FFF;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.card__body {
  padding: 30px;
}

.card__body h3 {
  color: var(--dark);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.card__body p {
  color: white;
  font-size: 18px;
  line-height: 1;
}


/* SECTION 5 */
.section5 {
  position: relative;
  background-color: #0A192F;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 1800px;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  text-align: center;
}

.contactInfo ul li {
  list-style-type: none;
}

.content5 {
  width: 1000px;
  height: 400px;
  margin: auto;
}


.txtHeads3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  
}

.txtHeads3 p {
  color: #60F7D3;
}