.navigation {
  background-color: #0A192F;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: 'Source Code Pro', monospace;
  align-items: center;
}

.navLinks {
  display: flex;
}

.locator {
  color: #60F7D3;
  margin-right: 5px;
}

.logo {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
}

.logoTran {
  display: flex;
  position: relative;
  left: 2rem;
}

.name {
  color: #60F7D3;
  font-size: 1.5rem;
  margin-top: 6px;
  transition: .5s linear .1s;
  opacity: 0;
  margin-left: -3px;
}

.logoTran:hover .name {
  display: flex;
  transition: .5s linear .1s;
  opacity: 1;

}

.navigation ul li{
  padding:10px;
  font-size:14px; 
  font-family: 'Source Code Pro', monospace;
  list-style-type: none;
  align-items: center;
  display: flex;
  margin-right: 2rem;
}

.navigation li button {
  background-color: #0A192F;
  border: 1px solid #60F7D3;
  color: #60F7D3;
  border-radius: 5px;
  height: 45px;
  width: 95px;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

/* SECTION 1 */
.section1 {
  height: 100%;
  width: 100%;
  background-color: #0A192F;
  min-height: 600px;
  max-height: 1500px;
  position: relative;
  display: flex;
  align-items: center;
}

.introContent {
  width: 1000px;
  height: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hi {
  color: #60F7D3;
  font-size: 16px;
}

.introHeader {
  font-size: 80px;
  margin: 0;
  color: #CCD6F6;
}

.secondaryHeader {
  font-size: 50px;
  margin: 0;
  color: #8892B0;
}

.description {
  width: 400px;
}

.btn {
  background-color: #0A192F;
  border: 1px solid #60F7D3;
  color: #60F7D3;
  border-radius: 5px;
  height: 45px;
  width: 205px;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  margin-top: 25px;
}

/* SECTION 2 */
.section2 {
  position: relative;
  background-color: #0A192F;
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 14c00px;
  max-height: 1800px;
}

.content2 {
  width: 1000px;
  height: 900px;
  margin: auto;
}

.sec1 {
  color: #60F7D3;
}

.about {
  color: white;

}

.txtBox {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin-right: 10px;
}

.descript {
  width: 600px;
  color: #8892B0;
}

.txtBox p {
  margin: 5px;
  font-size: 1.5rem;
}

.txtHeads {
  display: flex;
  flex-direction: row;
}

.txtBox li {
  width: 50%;
  float: left;
  color: #8892B0;

}

.txtBox  ul li::marker {
  color: #60F7D3;
}

.info2 {
  display: flex;
  flex-direction: row;
}

.aboutImg {
  height: 300px;
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3rem;
  background-image: linear-gradient(to bottom, #60f7d481, #60f7d496),  url('/images/meBlack.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 15px 15px #8892B0;

}

.aboutImg p {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.aboutImg:hover {
  opacity: 1;
  transition: 1s ease linear;
}