.mainContent {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #151320;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.contentLeft {
    border-right: 40px dashed firebrick;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contentLeft::after {
    content: '';
    height: 6px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    display: flex;
    flex-direction: column;
}

.contentRight {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: relative;
}


.img {
    height: 450px;
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
}

.img::before {
    content: "MATLOCK";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -25%;
    top: -25%;
    animation: spin 7.5s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.img::after {
    content: "";
    background-image: url('/images/meBlack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 6px;
    display: grid;
    place-items: center;

}


.rightInfo {
    flex-direction: column;
}

.rightInfo p {
    margin: 15px;
}

.rightInfo p:nth-child(1) {
    font-size: 48px;
    color: #fd004c;
}

.rightInfo p:nth-child(2) {
    font-size: 68px;
    color: #3363ff;
}

.rightInfo p:nth-child(3) {
    font-size: 33px;
    color: #b102b7;

}

.rightInfo p:nth-child(4) {
    font-size: 28px;
    color: #fff020;

}
.rightInfo p:nth-child(5) {
    font-size: 108px;
    color: #3edf4b;

}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    right: 5rem;
    margin-left: -30px;
    bottom: 4rem;
}
    
    .arrows path {
        stroke: #fff;
        fill: transparent;
        stroke-width: 1px;  
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; 
    }
    
    @keyframes arrow
    {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }
    
    @-webkit-keyframes arrow /*Safari and Chrome*/
    {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }
    
    .arrows path.a1 {
        animation-delay:-1s;
        -webkit-animation-delay:-1s; /* Safari 和 Chrome */
    }
    
    .arrows path.a2 {
        animation-delay:-0.5s;
        -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
    }
    
    .arrows path.a3 { 
        animation-delay:0s;
        -webkit-animation-delay:0s; /* Safari 和 Chrome */
    }

