.mainContent {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #151320;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.content {
    height: 100%;
    width: 100%;
    background: linear-gradient(110deg, #1c1b29 60%, #151320 60%);
}

.contentLeft {
    border-right: 40px dashed firebrick;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
}

.h1 {
    color: white;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 550px;
    top: 2rem;
}
    
    .h1 span {
        font-size: 40px;
        margin-left: 40px;
    }
    
    .message {
        background-color: yellow;
        color: #333;
        display: block;
        font-weight: 900;
        overflow: hidden;
        position: absolute;
        padding-left: 0.5rem;
        top: 0.2rem;
        left: 270px;
        animation: openclose 5s ease-in-out infinite;
    }
    
    .word1, .word2, .word3 {
        font-family: tahoma;
    }
    
    @keyframes openclose {
        0% {
        top: 0.2rem;
        width: 0;
        }
        5% {
        width: 0;
        }
        15% {
        width: 230px;
        }
        30% {
        top: 0.2rem;
        width: 230px;
        }
        33% {
        top: 0.2rem;
        width: 0;
        }
        35% {
        top: 0.2rem;
        width: 0;
        }
        38% {
        top: -4.5rem;
        
        }
        48% {
        top: -4.5rem;
        width: 290px;
        }
        62% {
        top: -4.5rem;
        width: 290px;
        }
        66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
        }
        71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
        }
        86% {
        top: -9rem;
        width: 285px;
        }
        95% {
        top: -9rem;
        width: 285px;
        }
        98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
        }
        100% {
        top: 0;
        width: 0;
        text-indent: 0;
        }
    }

.contentLeft::after {
    content: '';
    height: 6px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right:0;
    display: flex;
    flex-direction: column;
}

.contentRight {
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: relative;
}


.img {
    height: 450px;
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
}

.img::before {
    content: "MATLOCK";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -25%;
    top: -25%;
    animation: spin 7.5s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.img::after {
    content: "";
    background-image: url('/images/meBlack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 6px;
    display: grid;
    place-items: center;

}


.rightInfo {
    flex-direction: column;
}

.rightInfo p {
    margin: 15px;
}

.rightInfo p:nth-child(1) {
    font-size: 48px;
    color: #fd004c;
}

.rightInfo p:nth-child(2) {
    font-size: 68px;
    color: #3363ff;
}

.rightInfo p:nth-child(3) {
    font-size: 33px;
    color: #b102b7;

}

.rightInfo p:nth-child(4) {
    font-size: 28px;
    color: #fff020;

}
.rightInfo p:nth-child(5) {
    font-size: 108px;
    color: #3edf4b;

}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    right: 5rem;
    margin-left: -30px;
    bottom: 4rem;
}
    
    .arrows path {
        stroke: #fff;
        fill: transparent;
        stroke-width: 1px;  
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; 
    }
    
    @keyframes arrow
    {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }
    
    @-webkit-keyframes arrow /*Safari and Chrome*/
    {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }
    
    .arrows path.a1 {
        animation-delay:-1s;
        -webkit-animation-delay:-1s; /* Safari 和 Chrome */
    }
    
    .arrows path.a2 {
        animation-delay:-0.5s;
        -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
    }
    
    .arrows path.a3 { 
        animation-delay:0s;
        -webkit-animation-delay:0s; /* Safari 和 Chrome */
    }

    .dev {
    position: absolute;
    left: 22.5rem;
    margin-top: -3rem;
    }

    .dev h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
    }

    .dev h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
    }

    .dev h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
    }

    @keyframes animate {
    0%,
    100% {
        clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
        );
    }

    50% {
        clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
        );
    }
}

.section2 {
    width: 100%;
    height: 1000px;
}

.cardsSection {
    margin: auto;
    position: relative;
    width: 90%;
}


    .card {
        text-align: left;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        -webkit-user-select: none;
        -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        cursor: pointer;
        font-family: Arial, Sans-Serif;
        width: 400px;
        height: 600px;
        color: white;
        display: inline-block;
        background: conic-gradient(
            #fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c
        );
        margin: 10px;
    }
    .card.flip {
        transform: rotateY(180deg);
        transition: transform 0.5s;
    }
    .card .face {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        transform: translateZ(0.1px);
    }
    .card .back {
        transform: rotateY(180deg);
    }
    .card .face {
        border-radius: 10px;
    }
    .card .front {
        color: #ffffff;
        background-color: #101010;
    }
    

    .card .front .logo {
        width: 100px;
        padding: 10px;
    }
    .card .back {
        font-size: 18px;
        line-height: 1.4em;
        background-size: cover;
        background-color: #101010;

        color: #FFE81F;
    }
    .card .back img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: 3px double #FFE81F;
    }
    .card .back .description {
        padding: 30px;
    }
    .card .back .logo {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 100px;
        padding: 10px;
        border: none;
    }
    .card h2 {
        text-transform: uppercase;
        font-size: 28px;
        position: absolute;
        bottom: 70px;
        margin: 0;
        line-height: 0.7em;
        padding: 10px;
    }
    .card h2 small {
        font-size: 42px;
    }
    .card cite {
        position: absolute;
        left: 0px;
        bottom: 0px;
        font-size: 10px;
        text-transform: uppercase;
        padding: 20px;
    }
    .card cite a {
        color: white;
    }
    .card cite a:visited {
        text-decoration: none;
        color: #aaaaaa;
    }
    
    .darth h2 {
        font-size: 42px;
        line-height: 1em;
        bottom: 80px;
        margin-top: 2px;
    }
    .darth .front {
        background: conic-gradient(
            #fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c
        );    background-size: 130%;
        background-position: 50% 50%;
        transition: background 0.3s;
    }

    .luke .front {
        background: conic-gradient(
            #fd004c,
            #fe9000,
            #fff020,
            #3edf4b,
            #3363ff,
            #b102b7,
            #fd004c
        );    background-size: 200%;
        background-position: 25% 20%;
        transition: background 0.3s;
    }
